.header {
  text-align: center;
  color: grey;
}
.underline {
  border-bottom: 3px solid royalblue;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.title h4 {
  border-bottom: 2px dotted black;
  display: inline-block;
  padding: 5px;
}
